html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  /* min-height: 100vh; */
  cursor: url("/cursoar.jpg"), auto !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* cursor: url('/cursoar.cur'); */
}
::-webkit-scrollbar {
  width: 0px;
}
@font-face {
  font-family: "Bon Foyage Demo";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Bon Foyage Demo.ttf")
      format("ttf");
}
@font-face {
  font-family: "Bon Foyage Demo";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Bon Foyage Demo.ttf")
      format("ttf");
}
